@import '../../node_modules/@syncfusion/ej2/material.css';

body {
    touch-action: none;
}
input {
    text-align: center;
}

::-webkit-input-placeholder {
    text-align: center;
}

:-moz-placeholder {
    text-align: center;
}
