:root{
    --tittleFontSize: 20px;
}

.tittleBar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1700px;
    height: 440px;
    border: solid red 2px;
    margin: 20px;
}

.testBlock {
    display: flex;
    justify-content: center;
    background: #ffffff;
    border: lightgrey solid 1px;
    height: 50px;
    width: 200px;
}

.tittleBar_actionsHolder {
    display: flex;
    flex-direction: column;
    /*justify-content: space-between;*/
    align-items: center;
    background: #dec3e7;
    border: #0022ff solid 2px;
    height: 5rem;
    width: 20rem;
}