:root{
    --tittleFontSize: 20px;
}
.msgLine{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;
    color: white;
    font-size: 25px;
}


.tittleBar {
    display: inline-flex;
    justify-content: center;
    align-items: start;
    /*width: 1700px;*/
    /*height: 36px;*/
    /*border: solid #d9d9d9 1px;*/
    /*margin: 20px;*/
}

.tittleBar_actionsHolder {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    /*height: 10rem;*/
    width: 16rem;
    /*border: solid lightgrey 1px;*/
    margin: 0;
}

.tittleBar_elem{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 14rem;
    height: 2.8rem;
    border: solid lightgrey 1px;
    color: white;
    background: #3f51b5;
    margin: 0.2rem;
    font-style: italic;
    position: relative;
    z-index: 500;
}

.tittleBar_elem::placeholder {
    color: white;
    opacity: 1; /* Firefox */
}

input[type="file"] {
    display: none;
}

